{{!-- Configurar la plantilla para que muestre los siguientes datos: nombre, apellido, edad, correo, teléfono. --}}
<h2>Actividad 1 en clase</h2>
<p>Hola {{nombre}} {{apellido}}</p>
<p>Tus datos son:</p>
<ol>
    <li>correo: {{correo}}</li>
    <li>telefono: {{telefono}}</li>
    <li>edad: {{edad}}</li>
</ol>